<!DOCTYPE html>
<html>
<head>
	<title>Modelos y Controladores</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript">
		var modelApp = angular.module('modelApp', []);
		modelApp.controller('controllerApp', function($scope){

		});
	</script>
</head>
<body>
	<div ng-model="modelApp">
		<div ng-controller="controllerApp">
			
		</div>
	</div>
</body>
</html>	